@use '../abstracts' as a;

header {
    background-color: a.$black;
    h1 {
        a {
            text-decoration: none;
            color: a.$white;
            display: flex;
            align-items: center;
        }
    }
}